.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .dice {
        padding: 5px;
        border-radius: 10%;
        background-color: black;
        width: 200px;
        height: 200px;
    }
    
    .one {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .two {
        display: flex;
        justify-content: space-between;
    }
    
    .four {
        display: flex;
        justify-content: space-between;
    }
    
    .five {
        display: flex;
        justify-content: space-between;
    }
    
    .second-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn-lower {
        margin-top: 10px;
        font-size: 25px;
        background-color: white;
        border-radius: 50px;
        outline: none;
        font-family: 'Zilla Slab', serif;
    }

    .btn-higher {
        font-size: 25px;
        background-color: white;
        border-radius: 50px;
        outline: none;
        font-family: 'Zilla Slab', serif;
    }

    .playBtn {
        font-size: 40px;
        background-color: white;
        border-radius: 50px;
        outline: none;
        font-family: 'Zilla Slab', serif;
    }

    .nextBtn {
        font-size: 25px;
        background-color: white;
        border-radius: 50px;
        outline: none;
        font-family: 'Zilla Slab', serif;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info {
        font-size: 25px;
        font-family: 'Zilla Slab', serif;
    }

    .counter {
        font-size: 20px;
        font-family: 'Zilla Slab', serif;
    }

    .stats {
        font-size: 20px;
        font-family: 'Zilla Slab', serif;
    }

    .inner-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .title {
        font-size: 30px;
        font-family: 'Zilla Slab', serif;
    }

    .inner-container div {
        margin: 20px;
    }

    .history {
        font-size: 20px;
        font-family: 'Zilla Slab', serif;
    }
    
}
